In [23]:
import numpy as np

In [24]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
    return list 
def sum_random(list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
    return sum

In [25]:
while True:
    n = int(input("Enter some integer:"))
    try: 
      if n >= 5 and n<=15:
        break
      else:
        print("Inavlid input. Please try again.")
    except ValueError:
      print("Invalid input. Please try again.")

Enter some integer:12

In [26]:
MyList = np.random.randint(10,50,n)
MyList

array([32, 43, 27, 26, 15, 19, 27, 31, 13, 48, 31, 25])

In [27]:
MySum = sum(MyList)
MySum

337

In [28]:
MyList2 = np.random.randint(10,50, n)
MyList2

array([39, 28, 32, 40, 12, 27, 41, 33, 36, 19, 40, 39])

In [29]:
MySum2 = sum(MyList2)
MySum2

386